@font-face {
	font-family: 'NanumSquareRound';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
	font-weight: normal; font-style: normal;
}
@font-face {
	font-family: 'NanumBarunpen';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
* {
	font-family: 'NanumSquareRound';
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'NanumSquare';
	font-weight: 900;
}
body {
	/*background-color: #ffc596 !important;*/
	/*background-color: #f3f3f3 !important;*/
	background-color: rgba(186, 186, 186, 0.83) !important;

	font-size:10pt;
	/*width:455px;*/
	/*overflow:auto;*/
}
.navbar {
	background-color: #313236;
	border-radius: 2px;
}
.navbar p {
	color: #ffffff;
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	text-decoration: none;
}

.w3-white{
	border-width: 5px;
	border-color:#a8a8a8;
	border-style: solid;
	border-radius: 30px;
}
.w3-teal {
	background-color: #313236 !important;
}
#dt {
	font:80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	background-color:#fff;
	/*width:85%;*/
	margin:0;
	margin-top:10px;
	padding:0;
}
