body.visual-history-freeze {
    overflow: hidden !important;
}

#preview{
    margin: 0;
    padding: 10px 10px;
    border: 1px black;
    border-style: outset;
    border-radius: 10px;
    /*width: 242px;*/
    /*height: 160px;*/

    text-align:center;
    font-family: monospace;
    font-variant: normal;
    font-size: 12px;
    line-height: 1em;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);;


    z-index:10003;
    position: absolute;

}

#visual-history-container {
    display: none;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 100px;*/
    /*left: 0px;*/

    overflow: scroll;
    opacity: 0;

    -webkit-transition: opacity 0.05s ease-in;
    -moz-transition: opacity 0.05s ease-in;
    -ms-transition: opacity 0.05s ease-in;
    -o-transition: opacity 0.05s ease-in;
    transition: opacity 0.05s ease-in;
}

#visual-history-container.visual-history-container-visible {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:10001;
    border-radius: 100px;
    border: 5px solid grey;
}

.visual-history-image, .visual-history-text {
    cursor: pointer;
}

#visual-history-svg {
    display: block;
    margin: 8px auto 0 auto;

    z-index:10002;
    overflow: auto;
}

.visual-history-link {
    stroke: #ccc;
    fill: none;
    stroke-width: 2px;
}

.visual-history-title {
    word-wrap: normal;
    margin: 0;
    padding: 5px;
    font-family: sans-serif;
    font-variant: normal;
    font-size: 16px;
    text-align: center;
    line-height: 1.1em;
    color: #444;
}

.visual-history-url {
    word-wrap: break-word;
    margin: 0;
    font-family: monospace;
    font-variant: normal;
    font-size: 12px;
    text-align: center;
    line-height: 1em;
    color: #888;
    display: none;
}

.visual-history-current .visual-history-url, .visual-history-node:hover .visual-history-url {
    display: inherit;
}
.visual-history-current .visual-history-title, .visual-history-node:hover .visual-history-title {
    font-weight: 600;
}
.visual-history-current .visual-history-image, .visual-history-node:hover .visual-history-image {
    -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px 5px rgba(0,0,0,0.75);
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.75);
}

.visual-history-preview .visual-history-image {
    opacity: 0.7;
}


.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.rect-shift {
    transform: translate(-50%, -50%);
}
